.beegrid-container {
  display: flex;
  width: -moz-available;
  margin-top: 2rem;
}

.beegrid-table {
  border: 1px solid #dcdcdc;
  text-align: center;
}

.beegrid-table tr td {
  padding: 0.5rem 0.66rem;
}

.beegrid-table-header {
  font-weight: bold;
}

.beegrid-table-footer {
  font-weight: bold;
}

.beegrid-table-cell:first-child {
  font-weight: bold;
}

.beegrid-table-cell:last-child {
  font-weight: bold;
}

#beegrid-table-total {
  font-style: italic;
}

.beegrid-list {
  min-width: fit-content;
}