.sb-controls-box {
  flex-direction: column;
}

.beekeeper-container {
  display: flex;
  justify-content: space-evenly;
  width: -moz-available;
  margin-top: 2rem;
}

@media (max-width: 991.98px) {
  .beekeeper-container {
    flex-direction: column;
    width: 80vw;
    max-width: 290px;
    margin-top: 0;
  }
}

@media (max-height: 1024px) and (min-width:991.99px) {
  .beekeeper-container {
    margin-bottom: 0.825rem;
  }
}

.beekeeper-table {
  border: 1px solid #dcdcdc;
  text-align: center;
}

.beekeeper-table tr td {
  padding: 0.5rem 0.66rem;
}

.beekeeper-table-header {
  font-weight: bold;
}

.beekeeper-table-footer {
  font-weight: bold;
}

.beekeeper-table-cell:first-child {
  font-weight: bold;
}

.beekeeper-table-cell:last-child {
  font-weight: bold;
}

#beekeeper-table-total {
  font-style: italic;
}

.beekeeper-list {
  min-width: fit-content;
  padding-top: 1.5rem;
}

.beekeeper-list-line {
  margin: 1rem 0;
}